.navbar {
    margin-bottom: 30px;
}

.navbar .navbar-brand {
    font-size: 150%;
}

.navbar .nav-link {
    font-size: 110%;
}

#bg-div {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -9999;
    display: block;
    background: url("/imgs/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.15;
}

@media only screen and (min-width: 768px) and (min-height: 630px) {
    .login-card, .editscorerank-card, .error-card {
        padding-top: 8%;
    }
    .userinfo-card, .registrationinfo-card {
        padding-top: 3%;
    }
    .registration-settings-card {
        padding-top: 5%;
    }
}

.card {
    background-color: #BCAAA4;
}

.article-content, .inner-card-body {
    background-color: #D8C5BF;
}

.title-hr {
    margin-top: -15px;
    margin-bottom: 2px;
    border: 0;
    padding-top: 3px;
    background: #30241D;
}

.table {
    overflow-y: hidden;
    table-layout: fixed;
    border-collapse: collapse;
}

.table .table-row {
    border-top-color: #AF8F6A;
    border-bottom-color: #AF8F6A;
    border-bottom-width: 0.5px;
}

.table th.table-head {
    border-bottom: 2.5px #AF8F6A solid !important;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0.5px;
}

.table .table-row .table-datetime {
    width: 115px;
}

.table-datetime {
    font-weight: bold;
}

.table-cell {
    vertical-align: middle;
}

a {
    color: #2772B3;
}

ul.error-message {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul.uploaded-files {
    list-style-type: none;
    padding-left: 10px;
    margin-left: 0;
}

.delete-icon {
    position: relative;
    top: 2px;
    font-size: 110%;
}

.delete-icon:link, .delete-icon:visited {
    color: crimson;
}

.delete-icon:hover, .delete-icon:active {
    color: brown;
}

.form-group label {
    margin-bottom: 2px;
}

.rank-1 {
    color: gold;
    font-weight: bold;
}

.rank-2 {
    color: #808080;
    font-weight: bold;
}

.rank-3 {
    color: #CD7F32;
    font-weight: bold;
}

.rank-4 {
    color: #4285F4;
    font-weight: bold;
}

.rank-5 {
    color: #34A853;
    font-weight: bold;
}

.rank-6, .rank-7, .rank-8, .rank-9, .rank-10 {
    color: #C5D8F8;
    font-weight: bold;
}
