<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header mb-4">
                <h3 class="fw-bold d-inline">About</h3>
            </div>
            <hr class="col-12 title-hr">
            <div class="mt-3">
                <h4 class="fw-bold">Contact</h4>
            </div>
            <div class="card">
                <div class="card-body inner-card-body">
                    <a href="mailto:mail@pcshic.club">mail@pcshic.club</a>
                </div>
            </div>
            <div class="mt-3">
                <h4 class="fw-bold">Credits</h4>
            </div>
            <div class="card">
                <div class="card-body inner-card-body">
                    This site is produced by <strong>leo900807</strong>, PCSHIC 29<sup>th</sup>.<br>
                    Thanks for all testers.<br>
                    <br>
                    If anyone is interested in contest holding or website developing, welcome to join us.
                </div>
            </div>
            <div class="mt-3">
                <h4 class="fw-bold">History</h4>
            </div>
            <div class="card">
                <div class="card-body inner-card-body">
                    <div>
                        <h6 class="fw-bold">2022.08.30</h6>
                        PCSHOI Site is published.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
