<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header mb-4 text-center">
                <h4 class="fw-bold">Edit user</h4>
            </div>
            <form method="post" data-method="patch" action="/users" onsubmit="return checkForm();">
                <input id="csrf-token" name="_csrf" value="<%= csrfToken %>" type="hidden" />
                <div class="form-group mb-3">
                    <label class="form-label" for="nickname">Nickname</label>
                    <input id="nickname" class="form-control" name="nickname" value="<%= typeof nickname !== "undefined" ? nickname : "" %>" data-required="Nickname is required" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="oldpassword">Old Password</label>
                    <input id="oldpassword" class="form-control" name="oldpassword" type="password" data-required="Old password is required" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="newpassword">New password (left blank if you don't want to change it)</label>
                    <input id="newpassword" class="form-control" name="newpassword" type="password" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="renewpassword">Repeat new password</label>
                    <input id="renewpassword" class="form-control" name="renewpassword" type="password" />
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input id="email" class="form-control" name="email" type="email" value="<%= typeof email !== "undefined" ? email : "" %>" data-required="Email is required" />
                </div>
                <div class="text-center">
                    <ul class="error-message">
                        <% if(typeof editUserError !== "undefined"){ %>
                            <% editUserError.forEach(error => { %>
                                <li><font color="red"><%= error %></font></li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" style="width: 50%">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(() => {
    $("#nickname").focus();
});
</script>
