<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-8 col-lg-4 mx-auto login-card">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header mb-4 text-center">
                <h4 class="fw-bold mb-4">Login</h4>
            </div>
            <form class="mb-2" method="post" action="/login" onsubmit="return checkForm();">
                <input id="csrf-token" name="_csrf" value="<%= csrfToken %>" type="hidden" />
                <div class="mb-3">
                    <input id="username" class="form-control" name="username" placeholder="Username" data-required="Username is required" />
                </div>
                <div class="mb-3">
                    <input id="password" class="form-control" name="password" type="password" placeholder="Password" data-required="Password is required" />
                </div>
                <div class="mb-3 text-center">
                    <input id="rememberMe" class="form-check-input me-1" name="rememberMe" type="checkbox" value="true" placeholder="Password" data-required="Password is required" />
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" style="width: 50%">Login</button>
                </div>
            </form>
            <div class="text-center">
                <p class="mt-0 mb-0"><a href="/forgotpwd">Forgot password?</a></p>
                <p class="mb-0">No account? <a href="/users/new">Register</a>.</p>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(() => {
    $("#username").focus();
});
</script>
